/* Mobile View Begin */

/* Ipad-Mobile Res */
@media screen and (max-width: 1024px) {
  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    height: 7vh;
    width: 100%;
    margin: auto;
    position: fixed;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.274);
    transition: 550ms ease-in;
    z-index: 10;
  }

  .nav-title {
    font-size: 18px;
  }

  .nav-scrolled-intro {
    height: 5vh;
    color: rgb(255, 255, 255);
    background-color: rgb(33, 0, 141);
    box-shadow: 0 3px 20px rgba(44, 44, 44, 0.2);
  }

  .nav-scrolled-background {
    background-color: rgba(47, 47, 47, 0.212);
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  }

  .nav-scrolled-skills {
    color: rgb(96, 205, 255);
    background-color: rgb(61, 61, 61);
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  }

  .nav-scrolled-projects {
    color: rgb(255, 255, 255);
    background-color: rgb(9, 0, 133);
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  }

  .nav-scrolled-experience {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  }

  .nav-wrapper-links {
    position: absolute;
    right: 0px;
    height: 100vh;
    /* top: 5vh; */
    background-color: rgba(0, 5, 70, 0.99);
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    opacity: 0;
    transition: 250ms ease-in;
  }

  .nav-wrapper li {
    display: flex;
    flex: column;
    margin: 15% auto;
  }

  .nav-link {
    opacity: 0;
  }

  @keyframes navLinkFade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
    color: white;
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
    color: white;
  }

  .nav-active {
    opacity: 1;
    transform: translateX(0px);
  }

  .burger {
    display: block;
    cursor: pointer;
    align-items: center;
    /* flex: 0.1; */
    margin: auto 1%;

    z-index: 1;
  }

  .landing-wrapper {
    transform: translateY(-50%);
  }

  .landing-name {
    font-size: 45px;
  }

  .pos {
    font-size: 14px;
    letter-spacing: 1px;
  }

  #intro-section {
    height: 180vh;
  }

  .intro-flex-wrapper {
    flex-direction: column;
  }

  .intro-wrapper {
    width: 100%;
    margin: 350px auto auto auto;
  }

  .name {
    font-size: 22px;
    width: 100%;
  }

  .pic-wrapper {
    position: absolute;
    top: 3%;
    left: 0%;
    width: 90%;
  }

  .intro-txt {
    display: flex;
    margin: auto;

    width: 90%;
    font-size: 15px;
  }

  .container {
    margin: 0px auto;
    width: 100%;
  }

  .section-header {
    font-size: 40px;
    margin: 20% auto;
    text-align: center;
    letter-spacing: 2px;
    width: 70%;
  }

  #background-section {
    height: 180vh;
    background-position: center;
  }

  .bg-container {
    display: flex;
    flex-direction: column;
  }

  .bg-section-row {
    display: flex;
    flex-direction: column;
  }

  .bg-row-wrapper {
    border: 2px solid rgba(242, 242, 242, 0.3);
    margin: 5% auto;
  }

  .bg-row-header {
    justify-content: center;
    margin: 1% auto;
  }

  .bg-title {
    font-size: 19px;
  }

  .softdev-txt {
    font-size: 18px;
  }

  #skills-section {
    height: 160vh;
  }

  .section-skills-header {
    width: 50%;
  }

  #skills-flex-wrapper {
    flex-direction: column;
    margin: 0;
    width: 100%;
  }

  .skills-header {
  }

  .bg-descrip {
    border-top: solid 0.5px rgba(255, 255, 255, 0.3);
    font-size: 14px;
  }

  .works-icon {
    font-size: 25px;
  }

  .dev-wrapper {
    max-width: 100%;
  }

  .dev-header {
    margin: 3% auto;
  }

  .dev-items ul {
    margin: 0% auto 3% auto;
    justify-content: space-around;
  }
  .dev-items li {
    --item-size: 70px;
    margin: 5px 5px;
    width: var(--item-size);
    height: var(--item-size);
    font-size: 10px;
  }

  .listed-wrapper {
    width: 100%;
    margin: 3% auto;
  }

  .listed-header {
    margin: auto 15%;
  }

  .listed-items ul {
    margin: 5% auto;
    line-height: 500px;
  }

  .listed-items li {
    font-size: 13px;
    /* margin: auto auto auto 20%; */
    margin: auto auto;
    align-items: center;
    width: 60%;
    text-align: left;
    line-height: 28px;
  }

  #experience-section {
    height: 180vh;
  }

  .exper-header {
    font-size: 50px;
    margin: 20% auto;
    width: 100%;
  }

  .exper-wrapper-details {
    flex-direction: column;
    width: 90%;
    height: auto;
  }

  .exper-details {
    width: 100%;
    text-align: justify;
    font-size: 15px;
  }

  .exper-flex-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 15% auto auto auto;
  }

  .exper-wrapper {
    margin: auto;
    width: 90%;
  }

  .exper-date {
    color: white;
    font-size: 15px;
    top: -300px;
    width: 35%;
    text-align: left;
  }

  .exper-pos {
    font-size: 14px;
  }

  .date-left {
    top: -140px;
    left: 60%;
    font-size: 20px;
  }

  .exper-wrap-short {
    display: flex;
    width: 90%;
    position: relative;
    top: 0%;
    left: 0%;
    height: 150px;
    text-align: center;
  }

  .freelancing-txt {
    align-items: center;
    text-align: center;
    font-size: 22px;
  }

  .exper-divider {
    top: 40%;
    height: 650px;
  }

  #projects-section {
    height: 135vh;
  }

  .projs-flex-wrapper {
    width: 100%;
    padding: 0px;
  }

  .projects-header {
    margin: 20% auto;
    font-size: 32px;
    width: 100%;
    border-width: 2px;
  }

  .projs-wrapper {
    width: 90%;
  }

  .inspect-icon {
    font-size: 30px;
  }

  #inspect-bar {
    height: 15%;
    bottom: -15%;
  }

  .projs-wrapper:hover #inspect-bar {
    transform: translate(0%, -100%);
  }

  .projs-wrapper:hover .inspect-icon {
    transform: translateY(120%);
  }

  .close-button {
    top: 5px;
    font-size: 25px;
  }

  .modal {
    height: 85vh;
  }

  .modal-body {
    padding: 5px;
    margin: 10% auto;
  }

  .modal-gallery {
    width: 100%;
    height: 28%;
  }

  .modal-gallery-img {
    height: 100%;
    margin: 0px;
  }

  .modal-header {
    flex-direction: column;
  }

  .modal-title {
    font-size: 20px;
    flex: 0;
    width: 100%;
    text-align: center;
  }

  .modal-buttons {
    font-size: 20px;
    width: 60%;
    margin: 3% auto;
  }

  .modal-descrip p {
    font-size: 15px;
  }

  .modal-gallery-img-saddam {
    display: flex;
    object-fit: cover;
    background-size: contain;

    margin: 1% auto;
    width: 0px;
    height: 100%;
    width: 65%;
  }

  .modal-tech {
    margin: 5% auto;
  }

  #contact-section {
    height: 32vh;
  }

  #contact-container {
    margin: 5% auto;
  }

  .contact-header {
    width: 70%;
  }

  .contact-wrapper {
    margin: 5% auto;
  }

  .email-header {
    margin: 0px auto;
    width: 70%;
    font-size: 16px;
  }

  .email-text {
    width: 70%;
    font-size: 14px;
  }

  .contact-wrapper {
    width: 90%;
  }

  .icon-row a {
    margin: auto 20%;
  }
}

/* Low Res Laptop */
@media screen and (min-height: 720px) and (min-width: 1280px) and (orientation: Landscape) and (max-width: 1366px) {
  /* body {
      opacity: 0.8;
    } */
  #skills-section {
    height: 120vh;
  }

  .listed-items li {
    text-align: left;
  }

  #experience-section {
    height: 200vh;
  }

  .exper-wrap-short {
    width: 50%;
  }

  #projects-section {
    height: 250vh;
  }

  .modal-gallery {
    height: 70%;
  }
}

@media screen and (max-width: 1024px) and (orientation: Landscape) {
  .nav-wrapper li {
    display: flex;
    flex: column;
    margin: 15% auto;
  }

  .landing-name {
    font-size: 70px;
  }

  .pos {
    font-size: 15px;
  }

  #intro-section {
    height: 200vh;
  }
  .my-pic {
    width: 80%;
  }
  .intro-wrapper {
    margin: 80% auto auto auto;
  }

  .name {
    font-size: 45px;
  }

  .intro-txt {
    font-size: 18px;
  }

  .listed-header {
    margin: auto;
  }
  .dev-items ul {
    margin: 2% auto;
    width: 36%;
  }

  .listed-wrapper {
    width: 50%;
    margin: 1% auto;
  }

  .exper-date {
    top: -170px;
  }

  .date-left {
    top: -150px;
  }
  .exper-divider {
    top: 31%;
  }

  #projects-section {
    height: 250vh;
  }
}

@media screen and (max-width: 736px) and (orientation: Landscape) {
  .nav-wrapper {
    height: 10vh;
  }

  .landing-name {
    font-size: 80px;
  }

  .pos {
    font-size: 18px;
  }

  #intro-section {
    height: 340vh;
  }
  .my-pic {
    width: 80%;
  }
  .intro-wrapper {
    margin: 80% auto auto auto;
  }

  .name {
    font-size: 45px;
  }

  .intro-txt {
    font-size: 18px;
  }

  #background-section {
    height: 320vh;
  }
  .bg-wrapper {
    width: 75%;
  }

  #skills-section {
    height: 320vh;
  }

  .dev-wrapper,
  .listed-wrapper {
    width: 65%;
    margin: 3% auto;
  }

  .dev-items {
    margin: 5% auto;
  }

  #experience-section {
    height: 280vh;
  }

  .exper-date {
    top: -170px;
  }

  .date-left {
    top: -150px;
  }
  .exper-divider {
    top: 31%;
  }

  #projects-section {
    height: 350vh;
  }
}

/*  Mobile View ///////MODAL////////// Landscape */
@media screen and (max-height: 450px) and (orientation: Landscape) {
  .nav-wrapper li {
    display: flex;
    flex: column;
    margin: 10% auto;
  }

  .modal-gallery {
    height: 60%;
    width: 90%;
  }

  .modal-gallery-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .modal-header {
    flex-direction: row;
    margin: 1% auto;
  }

  .modal-title {
    display: flex;
    margin: 0px auto;
    font-size: 15px;
    /* justify-content: center; */
    align-items: center;
    text-align: left;

    flex: 8;
  }

  .modal-buttons {
    font-size: 15px;
    /* flex: 0.4; */
    width: 100%;
    /* width: 100%; */

    margin: 0px 2%;
  }

  .modal-descrip-wrapper p {
    font-size: 10px;
  }

  .modal-gallery-img-saddam {
    height: 90%;
    width: 50%;
  }
}

/* Ipad-Mobile Res Landscape */

/* @media screen and (max-width: 800px) and (orientation: Landscape) {
    .landing-name {
      font-size: 80px;
    }
  
    .pos {
      font-size: 15px;
    }
  
    #intro-section {
      height: 350vh;
    }
  
    .intro-wrapper {
      width: 100%;
      margin: 650px auto auto auto;
    }
  
    .name {
      font-size: 40px;
    }
  
    .intro-txt {
      width: 90%;
      font-size: 17px;
    }
  
    #background-section {
      height: 320vh;
    }
  
    #skills-section {
      height: 320vh;
    }
  
    .dev-wrapper {
      max-width: 70%;
      margin: auto;
    }
  
    .listed-wrapper {
      width: 50%;
    }
  
    #experience-section {
      height: 280vh;
    }
  
    .exper-date {
      top: -200px;
    }
  
    .exper-divider {
      height: 600px;
    }
  
    #projects-section {
      height: 350vh;
    }
  } */

/* Mobile View End*/
